/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 4, 2022, 10:35:29 AM
    Author     : admin
*/
.subtype{
    color: white;
    font-size:14px;
}
